<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foods App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to the Food app !</h1>
    <p>An app for collecting your favorite food.</p>
    <img
    class="foods-pic"
    src="https://slidesmania.com/wp-content/uploads/2024/05/0001-%C2%B7-IconsMania-1024x576-1.jpg"
    alt="foods"
    />
    <a class="index1" href="/foods">Browse Foods</a>
    <a class="index1" href="/foods/new">Add New Food</a>
  </body>
</html>